bug-tracker-frontend/node_modules/

bug-tracker-frontend/dist/
bug-tracker-frontend/build/

bug-tracker-frontend/logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

bug-tracker-frontend/lib-cov/

bug-tracker-frontend/coverage/
*.lcov

bug-tracker-frontend/jspm_packages/

bug-tracker-frontend/.npm/

bug-tracker-frontend/*.tsbuildinfo
bug-tracker-frontend/tsconfig.tsbuildinfo

.DS_Store

.idea/
.vscode/
*.swp